.tree-beard {
    height: 500px;
    width: 100%;
    margin-top: 0px;
    background-image: url("images/pretty-green.jpg");
    background-size: cover;
    background-position: center;
  }

footer {
    border-top: 3px solid black;
}
.fancy {
    color:#151413;
  }
.skyset {
    height: 300px;
    width: 100%;
    background-image: url("images/skySunsetter\ copy\ 2.jpeg");
    background-size: cover;
    background-position: center;
    border-top: 5px solid rgb(100, 97, 97);
    border-bottom: 5px solid rgb(15, 14, 14);
}
.stumpy {
    height: 300px;
    width: 100%;
    background-image: url("images/stump.JPG");
    background-size: cover;
    background-position: center;
    border-top: 5px solid rgb(100, 97, 97);
    border-bottom: 5px solid rgb(15, 14, 14);
}